<div style="padding-left: 40px; padding-top: 50px;">
  <h1>Add a new RSS feed</h1>

  <%= render "form", feed: @feed %>

  <br>

  <div>
    <%= link_to "Back to feeds", feeds_path %>
  </div>
</div>
