<div style="width: 100%;">
  <div style="width: 50%; height: 100px; float: left;">
    <img src="assets/marss-light.png" height="110vh" style='border-radius: 100px; margin: 30px; padding-top: 3%, padding-left: 50px;'/>
  </div>
  <div style="width: 50%; height: 100px; float: right;">
    <%= button_to "Logout", '/logout', method: :get, style: "margin: 30px; float: right;", class: "btn btn-info"%>
  </div>
</div>
<div style="padding-top: 200px; padding-left: 70px;" >
<h1> you made it to the reader brah</h1>
  <h1>good job, <%= current_user.username %></h1>
</div>
